<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Virya Paramita Energy</title>

  <!-- Define a description of your web page -->
  <meta content="" name="description">

  <!-- Define keywords for search engines -->
  <meta content="HTML, CSS, JavaScript" name="keywords">

  <!-- Define the author of a page -->
  <meta name="author" content="Sameer Verma, Sheikh Abdul Nisar, Shiva Kumar">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon" type="image/x-icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Virya-Paramita Energy</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#news">News</a></li>
              <li class="dropdown"><a href="#"><span>Partners</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">IIT Madras</a></li>
                  <li><a href="#">IIT Kanpur</a></li>
                  <li><a href="#">Cohort-15</a></li>
                  <li><a href="#">EDB Andhra Pradesh</a></li>
                  <li><a href="#">NIOT</a></li>
                  <li><a href="#">Clim Accelerator</a></li>
                  <li><a href="#">T-Hub</a></li>
                  <li><a href="#">Athens University
                    </a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->