<!-- ======= News Section ======= -->
<section id="news" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>News</h2>
            <p>Sneak peek at our team's achievments</p>
        </div>

        <div class="row">

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.indiatoday.in/education-today/news/story/1st-time-in-india-iit-madras-and-niot-bring-oceans-conference-1916464-2022-02-22">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-1.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>India Today</h4>
                            <span>Feb 22, 2022</span>
                            <p>1st time in India: IIT Madras and NIOT bring OCEANS Conference</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://news.careers360.com/iit-madras-develops-deploys-device-generate-electricity-from-sea-waves">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-2.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Career360</h4>
                            <span>Dec 05, 2022</span>
                            <p>IIT Madras develops, deploys device to generate electricity from sea waves</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.ndtv.com/education/iit-madras-researchers-develop-deploy-ocean-wave-energy-converter-generate-electricity-from-sea-waves">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-3.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>NDTV</h4>
                            <span>Dec 05, 2022</span>
                            <p>IIT Madras Researchers Develop, Deploy Ocean Wave Energy Converter To Generate
                                Electricity From Sea
                                Waves</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.shiksha.com/news/engineering-iit-madras-develops-device-to-generate-power-from-sea-waves-blogId-109465"></a>
                <div class="member d-flex align-items-start">
                    <div class="pic news-pic"><img src="img/news/news-4.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Shiksha</h4>
                        <span>Dec 05, 2022</span>
                        <p>IIT Madras develops device to generate power from sea waves</p>
                        <div class="social">
                            <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://indianexpress.com/article/technology/science/iit-madras-wave-energy-generator-8307268/">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-3.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Indian Express</h4>
                            <span>Dec 09, 2022</span>
                            <p>IIT Madras researchers develop, deploy wave energy generator off Tamil Nadu coast</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.indiatoday.in/education-today/news/story/iit-madras-researchers-create-device-to-generate-electricity-from-sea-waves-2305554-2022-12-05">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-2.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>India Today</h4>
                            <span>Dec 05, 2022</span>
                            <p>IIT Madras researchers create device to generate electricity from sea waves</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.business-standard.com/article/current-affairs/iit-madras-develop-energy-converter-to-generate-electricity-from-sea-waves-122120500766_1.html">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-5.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Business Standard</h4>
                            <span>Dec 05, 2022</span>
                            <p>IIT Madras generates power from sea waves, aims to go commercial by 2024</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://energy.economictimes.indiatimes.com/news/renewable/financiers-now-back-renewable-energy-projects-more-says-study/96053714">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-6.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>ET Energyworld</h4>
                            <span>Dec 07, 2022</span>
                            <p>Financiers now back renewable energy projects more, says study</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.nouvelles-du-monde.com/la-startup-vizag-travaille-avec-iit-madras-pour-generer-de-lelectricite-a-partir-des-vagues-de-locean/">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-7.jpeg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Nouvelles Du Monde</h4>
                            <span>Dec 15, 2022</span>
                            <p>La startup Vizag travaille avec IIT-Madras pour générer de l’électricité à partir des
                                vagues de
                                l’océan</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://www.thehindu.com/news/national/andhra-pradesh/vizag-startup-works-with-iit-madras-to-generate-electricity-from-ocean-waves/article66262570.ece">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-8.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>The Hindu</h4>
                            <span>Dec 14, 2022</span>
                            <p>Vizag startup works with IIT-Madras to generate electricity from ocean waves</p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 news-card" data-aos="zoom-in" data-aos-delay="100">
                <a target="_blank"
                    href="https://twitter.com/nsitharaman/status/1599954695757381633?t=vogQ3HqLpFDT5-oql5QGDw&s=08">
                    <div class="member d-flex align-items-start">
                        <div class="pic news-pic"><img src="img/news/news-9.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Nirmala sitharaman - Twitter</h4>
                            <span>Dec 06, 2022</span>
                            <p></p>
                            <div class="social">
                                <button type="button" class="btn btn-outline-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>
</section><!-- End News Section -->