<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit
                in iste officiis commodi quidem hic quas.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-10.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 1</h4>
                    <p>App</p>
                    <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>

                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D5LGOIoaBfHs&psig=AOvVaw0T-e89MKVekoKlt17YOYfj&ust=1687587051722000&source=images&cd=vfe&ved=0CBQQ3YkBahcKEwjwxbfF4dj_AhUAAAAAHQAAAAAQJA"
                        class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja -12.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <a href="img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Frajeev_gihar&psig=AOvVaw0T-e89MKVekoKlt17YOYfj&ust=1687587051722000&source=images&cd=vfe&ved=0CBMQjhxqFwoTCOiP1Znf2P8CFQAAAAAdAAAAABAo class="
                        details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-13.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>App</p>
                    <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="https://t.co/e2B2ieLeRm" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 2</h4>
                    <p>Card</p>
                    <a href="img/portfolio/sindhuja-7.jpeg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-15.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 2</h4>
                    <p>Web</p>
                    <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img"><img src="img/portfolio/Sindhuja 1.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>App 3</h4>
                    <p>App</p>
                    <a href="img/portfolio/Sindhuja 1.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Findianexpress.com%2Farticle%2Ftechnology%2Fscience%2Fiit-madras-wave-energy-generator-8307268%2F&psig=AOvVaw0T-e89MKVekoKlt17YOYfj&ust=1687587051722000&source=images&cd=vfe&ved=0CBQQ3YkBahcKEwjwxbfF4dj_AhUAAAAAHQAAAAAQHA"
                        class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja 4.jpg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 1</h4>
                    <p>Card</p>
                    <a href="img/portfolio/sindhuja-15.jpg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-14.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Card 3</h4>
                    <p>Card</p>
                    <a href="img/portfolio/sindhuja-9.jpeg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fsohorab&psig=AOvVaw2Xat3EB_qzJpWg9Bmimsb1&ust=1687615449764000&source=images&cd=vfe&ved=0CBQQ3YkBahcKEwjA-ovdx9n_AhUAAAAAHQAAAAAQAw"
                        class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-img"><img src="img/portfolio/sindhuja-16.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <a href="img/portfolio/sindhuja-7.jpegg" data-gallery="portfolioGallery"
                        class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" class="details-link" title="More Details"><i
                            class="bx bx-link"></i></a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->