<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p>We provide services for ocean monitoring and inspection, subsea power solutions & maritime
                communications.
            </p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Ocean Monitoring System</a></h4>
                    <p>Our Ocean monitoring system consists of a set of sensors to suits the customer's needs. It can be
                        customized depending upon water depth, project duration, and other factors with a Sindhuja-1.
                        Suitable
                        applications include metocean data collection, fish/mammal tracking, subsea vessel detection,
                        marine
                        environment analysis, and many more.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Subsea Applications</a></h4>
                    <p>A VPE subsea power solution offers reliable, uninterrupted, low-carbon, and autonomous energy
                        supply to
                        various subsea applications. Our unique system can supply fully integrated AC/DC power
                        requirements for
                        a range of applications.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Maritime Communications</a></h4>
                    <p>Sindhuja-1 can supply uninterrupted power to the satellite communication system to keep vessels
                        connected from anywhere in the world. The system will allow vessels to be always on, connected
                        to
                        maritime electronic highways, particularly during passages through more sensitive high traffic
                        coastal
                        areas and vessel traffic schemes.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Ocean Inspection System</a></h4>
                    <p>Our system can provide a continuous power supply to the devices installed for the safety and
                        security
                        of the ocean environment without any need for other external power sources. We provide
                        autonomous
                        monitoring that enables enforcement of maritime law in dangerous and remote ocean environments
                        to
                        improve safety at sea.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->