<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>

            <h2>OUR FOUNDING TEAM</h2>
        </div>


        <div class="row">

            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/01/sai-karthik-2.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sai Arun Kiran Karthik S</h4>
                        <span>Chief Executive Officer</span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/01/DSC_9899-a.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Bhaskara Rao S</h4>
                        <span>Finance & Operations Head</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/03/harish.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Harish Reddy S</h4>
                        <span>Marketing Head</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/harish-reddy-singi-reddy-a0447aa3/"> <i
                                    class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/01/jk.png"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Jigyasu Kumar Verman</h4>
                        <span>HR Head</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/jigyasu-verma-isb12/"> <i
                                    class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="section-title">


            <h2> <br>TECHNICAL MENTORS</h2>
        </div>


        <div class="row">

            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/01/Abdus-Samad-7.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Dr. Abdus Samad</h4>
                        <span>IIT MADRAS Mentor
                            <br>Expertise: Wave Energy </br>
                        </span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/abdussamad77/"> <i class="ri-linkedin-box-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/01/abhijit_photo.png"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Dr. Abhijit Chaudhuri</h4>
                        <span>IIT MADRAS Mentor
                            <br>Expertise: Desalination </br>
                        </span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/04/ARP-Pic_2017-1.png"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Dr. A R Paul</h4>
                        <span>MNNIT ALLAHABAD Mentor,
                            <br> Expertise: Fluid Mechanics</br> </span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>





        </div>

        <div class="section-title">

            <h2><br>OUR RESEARCH TEAM</h2>
        </div>


        <div class="row">

            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="img/team/abdu.jpg" class="img-fluid" alt="" width="170"
                            height="200">
                    </div>
                    <div class="member-info">
                        <h4>Mohd Abdul Rehman Alam</h4>
                        <span>Ocean Engineering</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/abdul-rehman-4bb862168/"> <i
                                    class="ri-linkedin-box-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://www.viryaparamita.co.in/sitepad-data/uploads/2022/03/20220318_193540-Anulekha-Majumdar.jpg"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Anulekha Majumdar</h4>
                        <span>Ocean Energy
                            (Wave energy converters)</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/mwlite/in/anulekha-majumdar-00a4066a"> <i
                                    class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://media.licdn.com/dms/image/C5603AQFx1DnrXEwO3g/profile-displayphoto-shrink_400_400/0/1645797574602?e=1692835200&v=beta&t=43OUkfT9AGQ98As-RqjJIGJ-HnKdEbaeSEgKBd4zdRk"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Suman Kumar</h4>
                        <span>Ocean Engineering <br>Wave Energy Converter MS by Research - IIT Madras</br>
                        </span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/suman-kumar-94545418b/"> <i
                                    class="ri-linkedin-box-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="img/team/prashant.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Prashant Kumar
                        </h4>
                        <span> Ph.D. Marine energy</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/prashant-kumar2206/"> <i
                                    class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">

                    <div class="pic"><img src="img/team/Deveshsingh.jpeg" class="img-fluid" alt=""></div>

                    <div class="member-info">
                        <h4>Devesh Singh</h4>
                        <span>Wave Energy Research Scholar</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/devesh-singh-784358140"> <i
                                    class="ri-linkedin-box-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="img/team/Kathyayani.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Kathyayani Nandakumar
                        </h4>
                        <span> Ocean Engineering</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a
                                href="https://www.viryaparamita.co.in/our-team/www.linkedin.com/in/kathyayani-nandakumar">
                                <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="section-title">


            <h2><br> WebSite Managing Team</h2>
        </div>


        <div class="row">

            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://media.licdn.com/dms/image/C4D03AQFoHuqhcPLZ7g/profile-displayphoto-shrink_800_800/0/1657293371250?e=1692835200&v=beta&t=ooqI3ezzrLqs8lwQbJ3m-cG84LHQlH09h3iPHBNzzlk"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sameer Verma</h4>
                        <span>Student at IIT Madras</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/127001-sameer/"> <i class="ri-linkedin-box-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img
                            src="https://media.licdn.com/dms/image/C4D03AQEoiYKjZhsNcw/profile-displayphoto-shrink_800_800/0/1663937924191?e=1692835200&v=beta&t=ugLsdee6Hb5BQ3frO4YJ8Y_aRPzCT7IbmnjvsbzhkYw"
                            class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Shiva Kumar</h4>
                        <span>Student at IIT madras</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/shivaiitm/"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img src="img/team/abdul's pic.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Sheikh Abdul Nisar</h4>
                        <span>Student at IIT madras</span>

                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href="https://www.linkedin.com/in/sheikh-abdul-nishar-3009ba156/"> <i
                                    class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    </div>
    </div>

    </div>



</section><!-- End Team Section -->
