<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">
                    <h3>Why Us?</strong></h3>
                    <p>
                        Backed by a skilled team and under 10+ years of experienced leadership, VPE paves way in
                        providing
                        clean energy solutions that are feasible, cost-effective and innovative.
                    </p>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse"
                                data-bs-target="#accordion-list-1"><span>01</span> How
                                are we different from others ? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    To commence with, the company has embarked upon an exciting venture on developing a
                                    wave-energy
                                    based desalination system to produce fresh water for drinking and sanitation for
                                    domestic and
                                    commercial utilization. We mainly focus on producing water for the coastal
                                    population who have
                                    less access to safe water for drinking or common household applications.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                class="collapsed"><span>02</span>
                                What we have to offer currently? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Presently, the technology for capturing wave energy and utilizing that for
                                    desalination is at a
                                    primitive stage. VPE's technical team will work on the development of sustainable
                                    technology that
                                    will serve the dual objectives of meeting energy demand from renewable sources and
                                    ensuring access
                                    to safe water utilizing such energy.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                class="collapsed"><span>03</span>
                                What our plans are for the future ? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    The company also plans to introduce warrantied and bankable WECs by 2030, that
                                    allows its
                                    customers to build wave farms for applications such as desalination, ocean
                                    surveillance, sea
                                    navigational system, weather buoy, offshore communication and UAV/Underwater vehicle
                                    charging
                                    stations.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                style='background-image: url("img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;
            </div>
        </div>

    </div>
</section><!-- End Why Us Section -->